@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: mosmos;
    src: url("../assets/fonts/Mosmos.otf");
}

@font-face {
    font-family: boldenVan;
    src: url("../assets/fonts/BoldenVan.otf");
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
    font-family: poppins;
}

html {
    background: url("../assets/background.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    width: 100%;
    height: 100%;
}

.font-bold {
    font-weight: bold;
}

.d-none {
    display: none !important;
}

#alphabet-game {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: min-content;
    height: min-content;
    flex-direction: column;
}

/*================ main-menu ========================*/

#main-menu {
    box-sizing: border-box;
    border: 10px solid #42a9d5;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 700px;
    height: 100%;
    gap: 20px;
    position: relative;
    top: 10px;
    animation: animate-main-menu 0.15s 1 forwards;
    border-radius: 4px;
}

#choose-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@keyframes animate-main-menu {
    from {
        opacity: 0;
        translate: 0 30%;
    }
    to {
        opacity: 1;
        translate: 0;
    }
}

.main-menu-headers {
    color: #cb3b3b;
    font-size: clamp(18px, 10vw, 30px);
    font-weight: bold;
    margin: 10px 0;
    letter-spacing: 1.5px;
    font-family: boldenVan;
}

#game-title {
    font-family: boldenVan;
    text-transform: uppercase;
    color: #07a4f2;
    font-size: clamp(40px, 10vw, 80px);
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
}

.rules {
    display: flex;
    text-align: center;
    width: 90%;
    max-width: 700px;
    height: min-content;
}

.rules-content {
    top: 0;
    bottom: 0;
    padding: 10px 2.5px;
    height: max-content;
}


.text-style {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: clamp(8px, 3vw, 18px);
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 20px;
}

.custom-level-button,
.level-button {
    color: white;
    border: none;
    font-size: 15px;
    padding: 15px 20px;
    background: #d33939;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    letter-spacing: 1px;
    border-radius: 8px;
}


.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 25;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 200px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 10px solid #07a4f2;
    background-color: rgb(255, 255, 255);
}

.card label {
    font-family: Poppins;
    font-size: 40px;
    font-weight: bold;
    color: #07a4f2;
}

.list-head {
    font-family: boldenVan;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(15px, 10vw, 30px);
    color: #07a4f2;
    margin: 6px 0;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    list-style: none;
}

.list li:first-letter {
    color: #07a4f2;
    font-family: boldenVan;
    font-size: clamp(8px, 10vw, 20px);
}

/*================ custom level menu ========================*/

#custom-level {
    display: flex;
    max-width: 90%;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.custom-level-title {
    font-weight: bold;
    text-align: center;
    font-family: boldenVan;
    color: #07a4f2;
    font-size: 30px;
    margin: 0;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;
}

.highlight-options-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;
}

.highlight-options-component p {
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #d33939;
    font-family: poppins;
    font-weight: bold;
}

.general-options-component {
    display: flex;
    flex-direction: column;
}

.radio-group input {
    width: 16px;
    aspect-ratio: 1;
    cursor: pointer;
}

.group-container {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.input-style {
    display: flex;
    width: min-content;
    max-width: 200px;
    border: 1px solid grey;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.input-style[type="number"] {
    width: 60px;
}

.click-button {
    box-sizing: border-box;
    opacity: 0.6 !important;
    background: #d33939 !important;

}

.answer-button {
    -webkit-tap-highlight-color: transparent !important;
}


/*================ board ========================*/
#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 540px;
    width: 100%;
    inset: 0 0 0 0;
}
.board-content{
    max-height: min-content;
    overflow-y: auto;
}
.board-content::-webkit-scrollbar{
    width: 0;
}


.load-screen__label {
    margin-right: 4px;
    word-break: normal;
}

.initialTimer span {
    font-size: 42px !important;
}

.feedback-icon {
    width: 40px;
    aspect-ratio: 1;
    animation: animate-icon 0.3s 1 forwards ease-out;
    position: absolute;
    inset: 0 0 0 0;
}

@keyframes animate-icon {
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.board-container {
    width: 100%;
    max-width: 600px;
    gap: 0 100px;
    padding: 30px 8px 0 8px;
    display: grid;
    height: min-content;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    grid-template-columns: repeat(4, min-content);
}

.game-header {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    z-index: 20;
    height: 50px;
    width: 100%;
}

.initialTimer,
.timer,
.timer span {
    font-weight: bold;
    font-size: 60px;
    font-family: mosmos;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    min-width: max-content;
}

.initialTimer,
.timer span {
    letter-spacing: 3px;
}

.timer {
    color: #07a4f2;
}

.initialTimer {
    color: #07a4f2;
    inset: 0 0 0 0;
    z-index: 20;
    font-size: 40px !important;
}

.timer:before {
    content: "Czas";
}

.initialTimer::before {
    content: "" !important;
}

#timer span {
    letter-spacing: 0;
}

.character-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
    position: relative;
}

.character-group .character {
    display: block;
    color: #ffffff;
    font-size: 60px;
    height: min-content;
    text-decoration: #07a4f2;
    font-family: boldenVan;
    padding: 0;
    margin: 0;
}

.character-group .symbol {
    font-weight: bold;
    font-family: mosmos;
    display: block;
    word-spacing: 0;
    text-space: 2;
    height: min-content;
    color: #07a4f2;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.cancel-game-btn {
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    background: #d33939;
    cursor: pointer;
    text-transform: uppercase;
    font-family: boldenVan;
    letter-spacing: 2px;
}

#choose-answer {
    display: flex;
    margin-top: 20px;
    z-index: 20;
    width: 100%;
    height: 80px;
    gap: 5px;
    padding: 10px;
    border-radius: 3px;
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.514);
}

.answer-button {
    color: white;
    border: none;
    font-size: 15px;
    width: 50%;
    height: 100%;
    border-radius: 3px;
    background: #d33939;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    letter-spacing: 1px;
}

.mobile-input-container {
    width: 100vw;
    height: min-content;
    z-index: 20;
    margin-top: 5px;
    display: flex;
    background: green;
    opacity: 0.2;
    align-items: flex-end;
}

.touch-panel {
    width: 50%;
    height: 50px;
}

.touch-panel:nth-child(even) {
    background: red;
}

.touch-panel:nth-child(odd) {
    background: blue;
}

.game-loader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: max-content;
    min-height: 180px;
    max-width: 400px;
    width: 100%;
}

/*================ modal ========================*/
#modal {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 25;
    animation: animate-modal 0.25s forwards ease-in-out;
    border-radius: 12px;
}

.highlight {
    color: #ffc107 !important;
    transform: scale(1.3);
    transition: 0.1s;
}

@keyframes animate-modal {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

.modal-title {
    color: #07a4f2;
    font-family: poppins;
    font-weight: bold;
    font-size: 35px;
    margin: 10px 0;
    text-align: center;
}

.modal-button {
    margin-top: 20px;
    padding: 10px 15px;
    color: white;
    background: #cb3b3b;
    font-family: poppins;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/*================ backdrop ========================*/
.backdrop {
    background: rgba(0, 0, 0, 0.47);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 20;
    inset: 0 0 0 0;
    animation: animate-backdrop 0.3s forwards ease-in-out;
}

@keyframes animate-backdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*================ tooltip ========================*/

.tooltip-icon {
    display: flex;
    margin-left: 5px;
}


.tooltip-icon__img {
    margin-top: 3px;
    width: 23px;
}



@media screen and (max-width: 700px) {
    .board-container {
        padding: 12px 8px 8px 8px;
    }

    .feedback-icon {
        width: 20px;
    }

    #alphabet-game {
    }

    #main-menu {
        width: 100%;
        top: 0;
    }

    .actions {
        max-width: 90%;
    }

    #modal {
        max-width: 400px;
        width: 100%;
    }

    /*.modal-title {*/
    /*    font-size: clamp(20px, 3vw, 35px) !important;*/
    /*}*/

    .modal-content p {
        font-size: clamp(8px, 5vw, 15px);
    }

    #game-title {
        font-size: clamp(15px, 10vw, 80px);
    }

    .custom-level-title {
        word-break: keep-all;
        font-size: clamp(15px, 10vw, 80px);
    }

    .main-menu-headers,
    .list-head {
        font-size: clamp(10px, 5vw, 30px);
    }

    .list {
        padding: 0;
        margin: 0;
        width: 90%;
    }

    .text-style,
    .list li:first-letter,
    .rules p,
    .list li {
        font-size: clamp(8px, 3vw, 18px);
    }

    .rules {
        max-width: 700px;
        width: 90%;
        max-height: none;
    }

    /*.modal-button,*/
    .custom-level-button,
    .level-button {
        padding: 5px clamp(5px, 3vw, 8px);
        font-size: clamp(8px, 3vw, 15px);
    }
    .cancel-game-btn{
        padding: 10px clamp(10px, 3vw, 15px);
        font-size: clamp(8px, 3vw, 15px);
    }

    .board-container {
        gap: 0 clamp(10px, 15vw, 100px);
    }

    .character-group .character {
        font-size: clamp(30px, 10vw, 60px);
    }

    .character-group .symbol {
        font-size: clamp(10px, 10vw, 36px);
    }

    .timer span,
    .timer {
        font-size: clamp(10px, 10vw, 60px) !important;
    }

    .load-screen__label,
    .initialTimer span {
        font-size: clamp(10px, 10vw, 40px) !important;
    }

    .board-container {
        overflow-y: auto;
    }

    #board {
        justify-content: flex-start;
        height: auto;
    }

    .game-header {
        top: 0;
        position: sticky;
    }

    #general-options {
        display: flex;
        flex-direction: column;
    }

    .group-container {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 800px){
    #main-menu{
        top: 0;
        margin-top: -30px;
    }
}
@media screen and (min-height: 600px){
    .rules{
       max-height: 350px;
        overflow: auto;
    }
}
@media screen and (min-height: 700px){
    .rules{
        max-height: 450px;
        overflow: auto;
    }
}
@media screen and (min-height: 960px){
    .rules{
        max-height: 650px;
        overflow: visible;
    }
}


/*Style CSS from Color game for modal window*/
#modal {
    max-width: 600px;
}
.info_background {
    float: left;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    font-size: 22px;
}
.info_points_message.bolded {
    font-weight: 800;
}
.info_points_message {
    float: left;
    width: calc(100% - 70px);
    padding-top: 5px;
}
.info_points_number {
    float: right;
    width: 70px;
    text-align: right;
    font-size: 30px;
}
.info_result_message {
    font-size: 18px;
}
.correctly {
    border-top: 2px solid #cb3b3b;
}
.incorrect {
    border-bottom: 2px solid #cb3b3b;
}
.personal_record {
    font-size: 24px;
}
.info_points_number.good {
    color: green;
}
.info_points_number.bad {
    color: red;
}

.navigator-container{
    padding: 5px;
    position: relative;
    height: 40px;
}

#show_game_widget{
    cursor: pointer;
    font-size: 20px;
    outline: 0!important;
    border: 0;
    color: #000;
    display: flex;
    align-items: center;
    background-color: #FFD258;
    border-radius: 12px;
    padding: 4px 10px;
    font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 1004px){
    #show_game_widget {
        font-size: 11px!important;
        padding: 1px 8px!important;
        top: 10px!important;
        right: 10px!important;
    }
}
#show_game_widget {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}