@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: mosmos;
  src: url("../fonts/Mosmos.otf");
}

@font-face {
  font-family: boldenVan;
  src: url("../fonts/BoldenVan.otf");
}

* {
  box-sizing: border-box;
  font-family: poppins;
}

html {
  background: no-repeat center center fixed;
  background-image: url("../assets/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
  width: 100vw;
  height: 100vh;
  user-select: unset;
}

.font-bold {
  font-weight: bold;
}

.d-none {
  display: none !important;
}

#alphabet-game {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: min-content;
  height: 100%;
  flex-direction: column;
  position: relative;
}

/*================ main-menu ========================*/

#main-menu {
  box-sizing: border-box;
  border: 10px solid #42a9d5;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 700px;
  height: min-content;

  gap: 20px;
  position: relative;
  top: 10px;
  animation: animate-main-menu 0.15s 1 forwards;
  border-radius: 4px;
}

#choose-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes animate-main-menu {
  from {
    opacity: 0;
    translate: 0 30%;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

.main-menu-headers {
  color: #cb3b3b;
  font-size: clamp(18px, 10vw, 30px);
  font-weight: bold;
  margin: 10px 0;
  letter-spacing: 1.5px;
  font-family: boldenVan;
}

#game-title {
  font-family: boldenVan;
  text-transform: uppercase;
  color: #07a4f2;
  font-size: clamp(40px, 10vw, 80px);
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
}

#rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  overflow: hidden;
  max-width: 700px;
}

.text-style {
  display: flex;
  justify-content: center;
  width: 90%;
  font-size: clamp(8px, 3vw, 18px);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 20px;
}

.custom-level-button,
.level-button {
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  background: #d33939;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: poppins;
  letter-spacing: 1px;
  border-radius: 8px;
}

.list-head {
  font-family: boldenVan;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: clamp(15px, 10vw, 30px);
  color: #07a4f2;
  margin: 6px 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  list-style: none;
}

.list li:first-letter {
  color: #07a4f2;
  font-family: boldenVan;
  font-size: clamp(8px, 10vw, 20px);
}

/*================ custom level menu ========================*/

#custom-level {
  display: flex;
  min-width: 90%;
  flex-direction: column;
}

.custom-level-title {
  font-weight: bold;
  text-align: center;
  font-family: boldenVan;
  color: #07a4f2;
  font-size: 30px;
  margin: 0;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: max-content;
}

.highlight-options-component {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 0;
}

.highlight-options-component p {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #d33939;
  font-family: poppins;
  font-weight: bold;
}

.general-options-component {
  display: flex;
  flex-direction: column;
}

.radio-group input {
  width: 16px;
  aspect-ratio: 1;
  cursor: pointer;
}

.group-container {
  display: flex;
  gap: 3px;
  align-items: center;
  width: max-content;
  justify-content: space-between;
}

.input-style {
  display: flex;
  width: min-content;
  max-width: 200px;
  border: 1px solid grey;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.input-style[type="number"] {
  width: 60px;
}

/*================ board ========================*/
#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-container {
  width: 100%;
  max-width: 600px;
  gap: 0 100px;
  display: grid;
  height: min-content;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(4, min-content);
}

.game-header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.timer {
  font-weight: bold;
  font-size: 60px;
  font-family: mosmos;
  letter-spacing: 3px;
  color: #07a4f2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  min-width: max-content;
  text-shadow: 0 0 1px black;
}

.timer:before {
  content: "Czas";
}

#timer span {
  letter-spacing: 0;
}

.character-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.character-group .character {
  display: block;
  color: #ffffff;
  font-size: 70px;
  height: min-content;
  text-decoration: #07a4f2;
  font-family: boldenVan;
  padding: 0;
  margin: 0;
}

.character-group .symbol {
  font-weight: bold;
  font-family: mosmos;
  display: block;
  word-spacing: 0;
  text-space: 2;
  height: min-content;
  color: #07a4f2;
  font-size: 46px;
  padding: 0;
  margin: 0;
}

.cancel-game-btn {
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  background: #d33939;
  cursor: pointer;
  text-transform: uppercase;
  font-family: boldenVan;
  letter-spacing: 2px;
}

/*================ modal ========================*/
#modal {
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 11;
  animation: animate-modal 0.25s forwards ease-in-out;
  border-radius: 12px;
}

.highlight {
  color: #ffc107 !important;
  transform: scale(1.3);
  transition: 0.1s;
}

@keyframes animate-modal {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}

.modal-title {
  color: #07a4f2;
  font-family: poppins;
  font-weight: bold;
  font-size: 35px !important;
  margin: 10px 0;
}

.modal-button {
  padding: 10px 15px;
  color: white;
  background: #cb3b3b;
  font-family: poppins;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
}

/*================ backdrop ========================*/
.backdrop {
  background: rgba(0, 0, 0, 0.47);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  animation: animate-backdrop 0.3s forwards ease-in-out;
}

@keyframes animate-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-height: 600px) {
}

@media screen and (max-width: 700px) {
  #alphabet-game {
  }

  #main-menu {
    width: 100%;
    top: 0;
  }

  #modal {
    max-width: 400px;
    width: 100%;
  }

  .modal-title {
    font-size: clamp(20px, 3vw, 35px) !important;
  }

  .modal-content p {
    font-size: clamp(8px, 5vw, 15px);
  }

  #game-title {
    font-size: clamp(15px, 10vw, 80px);
  }

  .main-menu-headers,
  .list-head {
    font-size: clamp(10px, 5vw, 30px);
  }

  .list {
    padding: 0;
    margin: 0;
    width: 90%;
  }

  .text-style,
  .list li:first-letter,
  .list li {
    font-size: clamp(8px, 3vw, 18px);
  }

  #rules {
    max-width: 700px;
    width: 90%;
  }

  .modal-button,
  .custom-level-button,
  .cancel-game-btn,
  .level-button {
    padding: 5px clamp(5px, 3vw, 8px);
    font-size: clamp(8px, 3vw, 15px);
  }

  .board-container {
    gap: 0 clamp(10px, 15vw, 100px);
  }

  .character-group .character {
    font-size: clamp(30px, 10vw, 70px);
  }

  .character-group .symbol {
    font-size: clamp(10px, 10vw, 36px);
  }

  .timer {
    font-size: clamp(10px, 10vw, 60px);
  }

  .board-container {
    overflow-y: auto;
  }

  #board {
    justify-content: flex-start;
    height: auto;
    gap: 20px;
  }

  .game-header {
    top: 0;
    position: sticky;
  }
}
